/* FONTS */
@font-face {
  font-family: "LoRes 12 OT Narrow";
  src: url("../src/fonts/LoRes12OTNarrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 OT Wide";
  src: url("../src/fonts/LoRes9OTWide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 OT Wide Alt Oakland";
  src: url("../src/fonts/LoRes9OTWideAltOakland-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 12 OT";
  src: url("../src/fonts/LoRes12OT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 12 OT Alt Oakland";
  src: url("../src/fonts/LoRes12OTAltOakland-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 OT Narrow";
  src: url("../src/fonts/LoRes9OTNarrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 OT Wide";
  src: url("../src/fonts/LoRes9OTWide-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 OT Narrow";
  src: url("../src/fonts/LoRes9OTNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 15 OT";
  src: url("../src/fonts/LoRes15OT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 Plus OT Wide";
  src: url("../src/fonts/LoRes9PlusOTWide-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 Plus OT Narrow";
  src: url("../src/fonts/LoRes9PlusOTNarrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 15 OT Alt Oakland";
  src: url("../src/fonts/LoRes15OTAltOakland-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 Minus OT Narrow";
  src: url("../src/fonts/LoRes9MinusOTNarrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 Plus OT Narrow";
  src: url("../src/fonts/LoRes9PlusOTNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 Minus OT Wide";
  src: url("../src/fonts/LoRes9MinusOTWide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 Plus OT Wide Alt";
  src: url("../src/fonts/LoRes9PlusOTWideAlt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 15 OT Narrow";
  src: url("../src/fonts/LoRes15OTNarrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 12 OT";
  src: url("../src/fonts/LoRes12OT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoRes 9 Plus OT Wide";
  src: url("../src/fonts/LoRes9PlusOTWide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Black";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Butt";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Butt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Lite";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Lite.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Medium";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Mezzo";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Mezzo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Midi";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Midi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Regular";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Sall";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Sall.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lomo Copy LT Std Zigg";
  src: url("../src/fonts/Lomo/LomoCopyLTStd-Zigg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChiKare 2";
  src: url("../src/fonts/ChiKareGo2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WindyCity";
  src: url("../src/fonts/WindyCity.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url(../src/fonts/DOSGothic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* variables */
:root {
  --white: #f5f5f5;
  --black: #0d0907;
  --border: 3px solid var(--black);
  --bor2: 2.5px solid var(--black);
  --bor3: 2px solid var(--black);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  /* color:var(--exemplevariable); */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("../src/img/background.png");
  background-position: center;
  background-size: cover;
  cursor: default;
  /* cursor: url('../img/cursor-mouse.png'), default; */
}

main {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.main {
  width: inherit;
  height: 100vh;
}

img[alt=""],
img:not([alt]) {
  border: 5px dashed var(--black);
}

.div {
  display: block;
}

.body-overflow-h {
  overflow: hidden;
}

.link_no-style,
.link_no-style:visited {
  text-decoration: none;
  color: var(--black);
  width: auto;
  height: 3rem;
}

.nav_basic {
  margin: 0;
  padding-left: 0;
}

[hidden],
.hidden {
  display: none !important;
}

[visited],
.visited {
  background-color: var(--black);
  color: var(--white);
}

::-webkit-scrollbar-track {
  background-image: url(../src/img/scroll.svg);
  background-size: cover;
  background-size: 2.3rem;
  background-repeat: repeat repeat;
}

::-webkit-scrollbar {
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--white);
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(../src/img/arrow_down.svg);
}

::-webkit-scrollbar-button:horizontal:decrement {
  border-top: var(--bor2);
  width: 1.8rem;
  background-image: url(../src/img/arrow_left.svg);
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(../src/img/arrow_up.svg);
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url(../src/img/arrow_right.svg);
  height: 1.8rem;
  width: 1.8rem;
  border-top: var(--bor2);
  border-left: var(--bor2);
}

::-webkit-scrollbar-corner {
  border-top: var(--bor2);
  border-left: var(--bor2);
}

/* header 상단바 Sets */
.header {
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  background-color: var(--white);
  z-index: 5;
}

.header_right,
.header_left {
  position: relative;
  width: auto;
}

.header__item_strong {
  font-family: "Lomo Copy LT Std Butt";
}

.nav_basic li {
  list-style: none;
}

.header_left .header__item {
  float: left;
}

#home-icon {
  position: relative;
}

.time {
  -webkit-appearance: none;
  appearance: none;
  font-family: "ChiKare 2";
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
}

.lnb-button {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  font-family: "ChiKare 2";
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  width: auto;
}

.lnb-button:hover {
  background-color: var(--black);
  color: var(--white);
}

.lnb {
  position: absolute;
  padding: 0;
  width: auto;
  background-color: var(--white);
  cursor: pointer;
  text-align: left;
  /* cursor: url('../img/cursor-pointer.png'), pointer; */
  z-index: -1;
  display: none;
}

.lnb__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "ChiKare 2";
}

.lnb__item:hover {
  background-color: var(--black);
  color: var(--white);
}

li:hover > .lnb-button {
  background-color: var(--black);
  color: var(--white);
}

/* folder sections*/
.link_style_desktop {
  color: var(--black);
  text-decoration: none;
}

.link_style_desktop:visited {
  color: var(--black);
}

.desktop-folder_open {
  -moz-box-sizing: border-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  background-color: var(--white);
  margin: auto;
}

.desktop-folder_small {
  -moz-box-sizing: border-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 15;
  overflow: hidden;
  background-color: var(--white);
  margin: auto;
}

.desktop-folder_large {
  -moz-box-sizing: border-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 13;
  overflow: hidden;
  background-color: var(--white);
  margin: auto;
}

.desktop-folder_menu {
  -moz-box-sizing: border-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 12;
  background-color: var(--white);
  margin: auto;
}

.desktop-folder__title {
  position: absolute;
  width: inherit;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.desktop-folder__title-background {
  height: 3rem;
  position: absolute;
}

.desktop-folder__title-span {
  font-family: "ChiKare 2";
  color: var(--black);
  background-color: var(--white);
  z-index: 4;
  display: inline;
  position: relative;
}

.solid {
  display: none;
  position: relative;
  z-index: 2;
  align-items: center;

  .num1 {
    position: relative;
    margin-bottom: 0.09rem;
  }
}

.close,
.post-close,
.memory-close,
.computer-close {
  position: absolute;
  background-color: none;
  cursor: pointer;
  cursor: url(../img/cursor-pointer.png), pointer;
  z-index: 4;
  box-shadow: 0 0 0 2.5px var(--white);
}

.folder-content__wrap-overflow {
  height: auto;
  overflow: scroll;
}

h4 {
  display: inline-block;
  height: auto;
  text-align: justify;
  font-family: "Gothic";
  color: var(--black);
  letter-spacing: -1px;
}

.desktop-folder__exp {
  width: inherit;
  position: absolute;
  left: 0;
  background-color: var(--white);
  display: flex;
  padding: 0 1.8rem 0 1.8rem;
  font-family: "Lomo Copy LT Std Lite";
}

.desktop-folder__exp-span {
  position: relative;
  top: 25%;
}

/* computer icons */
.first-nav {
  z-index: 1;
  position: relative;
  display: grid;
  /* place-content: center; */
  text-align: center;
}

.first-nav__icon {
  display: block;
  cursor: url(), pointer;
}

.first-nav__title {
  display: inline-block;
  font-family: "LoRes 9 OT Narrow";
  color: var(--black);
  background-color: var(--white);
  text-align: center;
}

@media all and (min-width: 1024px) and (min-height: 900px) and (orientation: landscape) {
  .desktop-folder {
    box-shadow: 0.3rem 0.3rem 0 var(--black),
      -2px -2px 10px 4px rgba(0, 0, 0, 0.3);
  }

  /* header sets */
  .header {
    border-bottom: var(--border);
  }

  .header__item {
    height: 3rem;
  }

  .time {
    font-size: 1.5rem;
    -webkit-transform: translate(-2.5rem, 0.8rem);
    transform: translate(-2.5rem, 0.8rem);
  }

  .under {
    box-shadow: 0.3rem 0.3rem 0 var(--black);
  }

  .lnb {
    border: var(--border);
  }

  .lnb-button {
    font-size: 1.2rem;
    height: inherit;
    padding: 0 2rem 0 2rem;
  }

  .lnb__item {
    font-size: 1.2rem;
    padding: 0.1rem 2rem 0.1rem 2rem;
  }

  .header__item_strong {
    padding: 0 1.5rem 0 2.5rem;
    transform: translateY(0.95rem);
  }

  #home-icon {
    margin-left: 2.5rem;
    width: 2.5rem;
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
  }

  main {
    top: 48px;
    height: calc(100vh - 48px);
    width: 99.3vw;
    right: 0.5vw;
  }

  .main {
    top: calc(6vh + 2px);
    width: inherit;
    height: calc(100vh - 55px);
  }

  /* window 창 설정 */
  .desktop-folder_small {
    position: absolute;
    width: 24rem;
    height: 24rem;
    left: calc((100vw - 24rem) * 0.5);
    top: calc((100vh - 24rem) * 0.45);
    border: var(--border);

    .solid {
      width: 23.65rem;
      top: -1.9rem;

      .num1 {
        border-top: var(--border);
      }
    }

    .desktop-folder__title-background {
      width: inherit;
      padding: 0.4rem 0.18rem;
      height: 3.1rem;
      border-bottom: var(--border);
    }
  }

  .desktop-folder_open {
    width: 44rem;
    height: 37rem;
    border: var(--border);

    .solid {
      width: 43.7rem;
      /* left: -5.8rem; */
      top: -1.9rem;
      .num1 {
        border-top: var(--border);
      }
    }

    .desktop-folder__title-background {
      width: inherit;
      padding: 0.4rem 0.18rem;
      height: 6.12rem;
      border-bottom: var(--border);
    }

    .right-span {
      position: absolute;
      right: 1.8rem;
    }

    .left-span {
      position: absolute;
      left: 1.8rem;
    }

    .center-span {
      position: absolute;
      right: 39%;
    }

    .folder-content__wrap-overflow {
      overflow-x: hidden;
      box-sizing: border-box;
      margin-top: 6.15rem;
      height: 28.7rem;
      padding-right: 2.3rem;
    }

    .faux-scroll {
      width: 42.1rem;
    }

    .faux-scroll-v {
      position: absolute;
      width: 2.28rem;
      height: calc(460px + 0.18rem);
      top: 6rem;
      right: -0.5px;
      border-left: var(--border);

      .faux-box {
        position: absolute;
        height: 2.3rem;
        width: 2.3rem;
      }

      .v1 {
        left: 0;
        top: 0;
        border-bottom: var(--border);
        position: absolute;
      }

      .v2 {
        bottom: 0;
        position: absolute;
        border-top: var(--border);
      }
    }

    .about {
      overflow-y: hidden;
    }
  }

  #portfolio {
    top: 20vh;
    left: 25vw;
  }

  #about {
    left: 19vw;
    top: 11.3vh;
  }

  #projects {
    right: 12vw;
  }

  .desktop-folder_large {
    width: 54rem;
    height: 47rem;
    right: 10rem;
    top: 3rem;
    border: var(--border);

    .solid {
      width: 53.65rem;
      top: -1.9rem;

      .num1 {
        border-top: var(--border);
      }
    }

    .desktop-folder__title-background {
      width: inherit;
      padding: 0.4rem 0.18rem;
      height: 6.12rem;
      border-bottom: var(--border);
    }

    .right-span {
      position: absolute;
      right: 1.8rem;
    }

    .left-span {
      position: absolute;
      left: 1.8rem;
    }

    .center-span {
      position: absolute;
      right: 41%;
    }

    .folder-content__wrap-overflow {
      overflow-x: hidden;
      box-sizing: border-box;
      margin-top: 6.15rem;
      height: 38.7rem;
    }

    .faux-scroll {
      width: 52.1rem;
    }
  }

  .desktop-folder_menu {
    width: 37rem;
    height: 30rem;
    left: 13.5rem;
    top: 10rem;
    border: var(--border);

    .solid {
      width: 36.65rem;
      top: -1.9rem;

      .num1 {
        border-top: var(--border);
      }
    }

    .desktop-folder__title-background {
      width: inherit;
      padding: 0.4rem 0.18rem;
      height: 6.12rem;
      border-bottom: var(--border);
    }

    .right-span {
      position: absolute;
      right: 1.8rem;
    }

    .left-span {
      position: absolute;
      left: 1.8rem;
    }

    .center-span {
      position: absolute;
      right: 41%;
    }

    .folder-content__wrap-overflow {
      box-sizing: border-box;
      margin-top: 6.15rem;
      height: 23.9rem;
    }

    .post_menus {
      height: calc(399px - 2.3rem);
      width: 100rem;
      padding: 2.7vw;
    }

    .faux-scroll {
      width: 52.1rem;
    }
  }

  .desktop-folder__title {
    height: 6.15rem;
  }

  .desktop-folder__title-span {
    padding: 0 1rem;
    font-size: 2rem;
    letter-spacing: -1.5px;
  }

  .close,
  .post-close,
  .memory-close,
  .computer-close {
    border: var(--border);
    -webkit-transform: translateY(-0.18rem);
    transform: translateY(-0.18rem);
    width: 1.8rem;
    height: 1.8rem;
    left: 1.7rem;
    margin: 0.7rem 1rem 0.7rem 0;
  }

  .desktop-folder__exp {
    height: 3rem;
    position: absolute;
    top: 71px;
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-transform: translateY(-1.55rem);
    transform: translateY(-1.55rem);
  }

  .desktop-folder__exp-span {
    font-size: 1.3rem;
  }

  .faux-scroll {
    position: relative;
    background-color: var(--white);
    height: 2.3rem;
    border-top: var(--border);
    border-right: var(--border);
    left: -0.19rem;

    .faux-box {
      position: absolute;
      height: 2.3rem;
      width: 2.3rem;
      border-right: var(--border);
    }

    .v1 {
      left: 0rem;
      position: absolute;
    }

    .v2 {
      right: calc(-1 * (2.3rem + 3px));
      width: calc(4.6rem + 3px);
      height: calc(2.3rem + 3px);
      top: -3px;
      position: absolute;
      border: var(--border);
    }
  }

  h4 {
    font-size: 20px;
    margin: 2.5rem 4.5rem 3.5rem 4.5rem;
  }

  /* icon sets */
  .first-nav {
    padding-top: 8vh;
    padding-left: 4vh;
    width: 8rem;
  }

  .first-nav__icon {
    padding-bottom: 2rem;

    img {
      width: 5vw;
      height: auto;
      z-index: 2;
      position: relative;
    }
  }

  .first-nav__title {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    padding: 0 6px;
    transform: translateY(-4.5px);
    -webkit-transform: translateY(-4.5px);
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.3);
  }

  /* 스크롤바 */
  ::-webkit-scrollbar-track-piece:vertical {
    border-left: var(--border);
    border-top: var(--border);
  }

  ::-webkit-scrollbar-track-piece:horizontal {
    border-left: var(--border);
    border-top: var(--border);
  }

  ::-webkit-scrollbar {
    box-sizing: border-box;
    width: 2.3rem;
  }

  ::-webkit-scrollbar:horizontal {
    height: 2.3rem;
    border-top: var(--border);
  }

  ::-webkit-scrollbar-thumb:vertical {
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
    background-color: var(--white);
    min-height: 6rem;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--white);
    min-width: 6rem;
    border-top: var(--border);
    border-right: var(--border);
    border-left: var(--border);
  }

  ::-webkit-scrollbar-button:vertical:increment {
    /* background: url(../src/img/ico_cigarette\ and\ coffee\ copy.svg); */
    height: 2.3rem;
    width: 2.3rem;
    border-left: var(--border);
    border-top: var(--border);
  }

  ::-webkit-scrollbar-button:horizontal:decrement {
    border-top: var(--border);
    height: 2.3rem;
    width: 2.3rem;
  }

  ::-webkit-scrollbar-button:vertical:decrement {
    border-left: var(--border);
    width: 2.3rem;
    height: 2.3rem;
  }

  ::-webkit-scrollbar-button:horizontal:increment {
    height: 2.3rem;
    width: 2.3rem;
    border-top: var(--border);
    border-left: var(--border);
  }

  ::-webkit-scrollbar-corner {
    border-top: var(--border);
    border-left: var(--border);
  }
}

/* tablet */
@media screen and (min-width: 900px) and (max-width: 1023.999px) and (min-height: 600px) and (orientation: landscape) {
  .desktop-folder {
    box-shadow: 0.2rem 0.2rem 0 var(--black),
      -2px -2px 10px 4px rgba(0, 0, 0, 0.3);
  }

  body {
    background-position: top 34px;
  }

  .under {
    box-shadow: 0.2rem 0.2rem 0 var(--black);
  }

  /* header sets */
  .header {
    height: 6vh;
    border-bottom: var(--bor2);
  }

  .header__item {
    height: 6vh;
  }

  .time {
    font-size: 1rem;
    -webkit-transform: translate(-3rem, 1.7vh);
    transform: translate(-3rem, 1.7vh);
  }

  .lnb {
    border: var(--bor2);
    position: absolute;
    top: calc(6vh - 2px);
  }

  .lnb-button {
    font-size: 1rem;
    height: 6vh;
    padding: 0 1.7rem 0 1.7rem;
  }

  .lnb__item {
    padding: 0 1.2rem 0 1.2rem;
    font-size: 1rem;
  }

  .header__item_strong {
    padding: 1.66vh 1rem 0 2rem;
    /* transform: translateY(0.5rem); */
  }

  #home-icon {
    margin-left: 2.5rem;
    width: 1.5rem;
    -webkit-transform: translateY(1.2vh);
    transform: translateY(1.2vh);
  }

  .main {
    height: inherit;
    width: 100vw;
  }

  /* window 창 설정 */
  .desktop-folder_small {
    width: 18rem;
    height: 18rem;
    left: calc((100vw - 18rem) * 0.5);
    top: calc((100vh - 18rem) * 0.45);
    border: var(--bor2);

    .solid {
      width: 17.62rem;
    }

    .desktop-folder__title-background {
      width: inherit;
      padding: 0 0.18rem;
      height: 30px;
    }

    .desktop-folder__title {
      border-bottom: var(--bor2);
    }
  }

  .desktop-folder_open {
    width: 44rem;
    height: 34.7rem;
    left: 6rem;
    top: 6rem;
    border: var(--bor2);

    .solid {
      width: 43.7rem;
      /* left: -5.8rem; */
      top: -1.9rem;
      .num1 {
        border: var(--bor2);
        margin-bottom: 0.05rem;
      }
    }

    .desktop-folder__title-background {
      width: inherit;
      padding: 0.4rem 0.18rem;
      height: 6.3rem;
    }

    .right-span {
      position: absolute;
      right: 1.8rem;
    }

    .left-span {
      position: absolute;
      left: 1.8rem;
    }

    .center-span {
      position: absolute;
      right: 39%;
    }

    .folder-content__wrap-overflow {
      margin-top: 6.15rem;
      height: 28.55rem;
    }
  }

  .solid {
    top: -1.43rem;
    .num1 {
      border-top: var(--bor2);
      margin-bottom: 0.05rem;
    }
  }

  .desktop-folder_large {
    width: 32rem;
    height: 30rem;
    left: 27rem;
    top: 1.7rem;
    border: var(--bor2);

    .solid {
      width: 31.65rem;
    }

    .desktop-folder__title-background {
      width: inherit;
      padding: 0 0.18rem;
      border-bottom: var(--bor2);
      height: 4.27rem;
    }

    .folder-content__wrap-overflow {
      overflow-x: hidden;
      box-sizing: border-box;
      margin-top: 4.24rem;
      height: 24.28rem;
    }

    .faux-scroll {
      width: 30.555rem;
    }
  }

  .desktop-folder__title {
    height: 2.1rem;
  }

  .desktop-folder__title-span {
    padding: 0 0.5rem;
    font-size: 1.7rem;
    letter-spacing: -1.5px;
    top: 0.15rem;
  }

  .close,
  .post-close,
  .memory-close,
  .computer-close {
    border: var(--bor2);
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
    width: 1.35rem;
    height: 1.35rem;
    left: 1.15rem;
    margin: 0.7rem 1rem 0.7rem 0;
  }

  .desktop-folder__exp {
    height: 2.1rem;
    border-top: var(--bor2);
    border-bottom: var(--bor2);
    -webkit-transform: translateY(-1.55rem);
    transform: translateY(-1.2rem);
  }

  .desktop-folder__exp-span {
    position: relative;
    font-size: 0.9rem;
  }

  .right-span {
    position: absolute;
    right: 1.8rem;
  }

  .left-span {
    position: absolute;
    left: 1.8rem;
  }

  .center-span {
    position: absolute;
    right: 41%;
  }

  .faux-scroll {
    position: relative;
    background-color: var(--white);
    height: 1.9rem;
    border: var(--bor2);
    top: -0.1rem;
    left: -0.19rem;

    .faux-box {
      position: absolute;
      height: 1.9rem;
      width: 1.9rem;
      border-right: var(--bor2);
    }

    .v1 {
      left: 0rem;
      position: absolute;
    }

    .v2 {
      right: -0.12rem;
      position: absolute;
      border-left: 2.5px solid;
    }
  }

  h4 {
    font-size: 15px;
    margin: 2rem 4rem 3rem 4rem;
  }

  /* icon sets */
  .first-nav {
    margin: calc(100vh * 0.05);
    top: 0;
    padding-top: calc(100vh * 0.05);
    width: 6rem;
  }

  .first-nav__icon {
    padding-bottom: 2rem;
  }

  .first-nav__icon img {
    width: calc(100vh * 0.107);
    height: auto;
  }

  .first-nav__title {
    font-size: 1.2rem;
    padding: 0 3px;
    transform: translateY(-4.5px);
    -webkit-transform: translateY(-4.5px);
  }

  /* 스크롤바 */
  ::-webkit-scrollbar-track-piece:vertical {
    border-left: var(--bor2);
  }

  ::-webkit-scrollbar-track-piece:horizontal {
    border-left: var(--bor2);
    border-top: var(--bor2);
  }

  ::-webkit-scrollbar {
    box-sizing: border-box;
    width: 1.8rem;
  }

  ::-webkit-scrollbar:horizontal {
    height: 1.8rem;
    border-top: var(--bor2);
  }

  ::-webkit-scrollbar-thumb:vertical {
    border: var(--bor2);
    min-height: 5rem;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    border-top: var(--bor2);
    border-left: var(--bor2);
    border-bottom: var(--bor2);
    min-width: 5rem;
  }

  ::-webkit-scrollbar-button:vertical:increment {
    height: 1.8rem;
    width: 1.8rem;
    border-left: var(--bor2);
    border-top: var(--bor2);
    border-bottom: var(--bor2);
  }

  ::-webkit-scrollbar-button:horizontal:decrement {
    border-top: var(--bor2);
    width: 1.8rem;
  }

  ::-webkit-scrollbar-button:vertical:decrement {
    border-bottom: var(--bor2);
    border-left: var(--bor2);
    width: 1.8rem;
    height: 1.8rem;
  }

  ::-webkit-scrollbar-button:horizontal:increment {
    background: url();
    height: 1.8rem;
    width: 1.8rem;
    border-top: var(--bor2);
    border-left: var(--bor2);
  }

  ::-webkit-scrollbar-corner {
    border-top: var(--bor2);
    border-left: var(--bor2);
  }
}

/* phone */
@media all and (min-width: 280px) and (max-width: 430px) and (min-height: 320px) and (max-height: 932px) and (orientation: portrait) {
  body {
    visibility: hidden;
  }
}
